<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCE_jWXEROWG1YeUx_oOlJ7AH_kKuAF0Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>795094257242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>en.limited.aasturesources.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aastulife</string>
	<key>STORAGE_BUCKET</key>
	<string>aastulife.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795094257242:ios:4b6d5456870cf39d3c1263</string>
</dict>
</plist>